.env
OpenFOAM-11/
cases/
tutorials/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/
development.md
.DS_Store
*.docx
logs/
node_modules/
src/foampilot/ui/web/frontend/dist/
src/foampilot/ui/web/frontend/package-lock.json
*.egg-info/
*.egg/
*.egg-info/
